
<!-- INDOOR INTERESTS -->
<div class="row form-group position-relative {{ isset(@errors['indoor']) ? 'error-border' : '' }}">
        
    <label class="col-12 font-weight-bold">In-door Interests</label>
    
    <repeat group="{{ @indoor_options }}" key="@option" value="@optionDisplay">
        <div class="col-12 col-md-6 col-lg-3 mb-1">
            <div class="form-check">
                <input id="{{ $option }}" 
                       name="indoor_interests[]" 
                       type="checkbox" 
                       value="{{ $option }}" 
                       class="mt-2 form-check-input" 
                       {{ 
                            @is_premium && isset(@outdoorChosen) && in_array($option, @outdoorChosen) 
                            ? 'checked' : '' 
                        }} />
                <label for="{{ $option }}" class="form-check-label">{{ $optionDisplay }}</label>
            </div> 
        </div>   
    </repeat>

    <check if="{{ isset(@errors['indoor']) }}">
        <div class="error">{{ @errors['indoor'] }}</div>
    </check>

</div>

<!-- OUTDOOR INTERESTS -->
<div class="row form-group position-relative {{ !isset(@errors['outdoor']) ? 'error-border' : '' }}">
    
    <label class="col-12 font-weight-bold">Out-door Interests</label>

    <repeat group="{{ @outdoor_options }}" key="@option" value="@optionDisplay">
        <div class="col-12 col-md-6 col-lg-3 mb-1">
            <div class="form-check">
                <input id="{{ $option }}" 
                       name="outdoor_interests[]" 
                       type="checkbox" 
                       value="{{ $option }}" 
                       class="mt-2 form-check-input"
                       {{ 
                            @is_premium && isset(@indoorChosen) && in_array($option, @outdoorChosen) 
                            ? 'checked' : '' 
                        }} />
                <label for="{{ $option }}" class="form-check-label">{{ $optionDisplay }}</label>
            </div> 
        </div>   
    </repeat>

    <check if="{{ isset(@errors['outdoor']) }}">
        <div class="error">{{ @errors['outdoor'] }}</div>
    </check>

</div>
