<div class="row">
    <div class="col-md-8">
        <div class="container-fluid p-3">
         
        <!-- COULD CREATE STRUCTURE FOR THE VALIDATED TEXT INPUTS -->    
            
        <!-- FIRST NAME -->
            <div class="row">
                <div class="form-group w-100 position-relative">
                    <label for="first_name" class="font-weight-bold">First Name</label>
                    <input id="first_name" 
                           name="first_name" 
                           type="text" 
                           class="form-control {{ isset(@errors['first_name']) ? 'error-border' : '' }}"
                           value="{{ isset(@memberData) ? @memberData->displayValue('fname', false, false) : '' }}" />
                    <check if="{{ isset(@errors['first_name']) }}">
                        <div class="error">{{ @errors['first_name'] }}</div>
                    </check>  
                </div>
            </div>

        <!-- LAST NAME -->
            <div class="row">
                <div class="form-group w-100 position-relative">
                    <label for="last_name" class="font-weight-bold">Last Name</label>
                    <input id="last_name" 
                           name="last_name" 
                           type="text" 
                           class="form-control {{ isset(@errors['last_name']) ? 'error-border' : '' }}"
                           value="{{ isset(@memberData) ? @memberData->displayValue('lname', false, false) : '' }}" />
                    <check if="{{ isset(@errors['last_name']) }}">
                        <div class="error">{{ @errors['last_name'] }}</div>
                    </check>  
                </div>
            </div>
    
        <!-- AGE -->
            <div class="row">
                <div class="form-group w-100 position-relative">
                    <label for="age" class="font-weight-bold">Age</label>
                    <input id="age" 
                           name="age" 
                           type="text" 
                           class="form-control {{ isset(@errors['age']) ? 'error-border' : '' }}"
                           value="{{ isset(@memberData) ? @memberData->displayValue('age', false, false) : '' }}" />
                    <check if="{{ isset(@errors['age']) }}">
                        <div class="error">{{ @errors['age'] }}</div>
                    </check>
                </div>
            </div>
    
        <!-- GENDER --> <!-- NO VALIDATION -->
            <div class="row">
                <div class="form-group w-100 position-relative">
                    <label class="font-weight-bold">Gender</label><br />
    
                    <div class="form-check form-check-inline mr-4">
                        <input id="male" 
                               name="gender" 
                               type="radio" 
                               value="M" 
                               class="form-check-input" 
                               {{ isset(@memberData) && @memberData->getValue('gender') === 'M' ? 'checked="checked"' : ''}} />
                        <label for="male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="female" 
                               name="gender" 
                               type="radio" 
                               value="F" 
                               class="form-check-input" 
                               {{ isset(@memberData) && @memberData->getValue('gender') === 'F' ? 'checked="checked"' : ''}} />
                        <label for="female" class="form-check-label">Female</label>
                    </div>
                </div>
            </div>
    
        <!-- PHONE NUMBER -->
            <div class="row">
                <div class="form-group w-100 position-relative">
                    <label for="phone_number" class="font-weight-bold">Phone Number</label>
                    <input id="phone_number" 
                           name="phone_number" 
                           type="text"
                           class="form-control {{ isset(@errors['phone_number']) ? 'error-border' : '' }}"
                           value="{{ isset(@memberData) ? @memberData->displayValue('phone', false, false) : '' }}" />
                    <check if="{{ isset(@errors['phone_number']) }}">
                        <div class="error">{{ @errors['phone_number'] }}</div>
                    </check>
                </div>
            </div>

        <!-- PREMIUM MEMBERSHIP -->
        <div class="row">
            <div class="form-group w-100 position-relative">
                <div class="form-check form-check-inline mr-4">
                    <input id="premium_membership" 
                            name="premium_membership" 
                            type="checkbox" 
                            value="yes" 
                            class="form-check-input" 
                            {{ isset(@memberData) && @memberData->getValue('premium') == 1 ? 'checked="checked"' : ''}} />
                    <label for="premium_membership" class="form-check-label">Sign me up for a Premium Account</label>
                </div>
            </div>
        </div>    

        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="dating-side-note dating-soft-border container-fluid p-3">
            <p>
                <span class="font-weight-font-weight-bold">Note: </span>
                All information entered is protected by our
                <a href="#" tabindex="-1">privacy policy</a>. Profile information
                can only be views by others with your permission.
            </p>
        </div>
    </div>
</div>