<div class="row">
    <div class="col-md-6">
        <div class="container-fluid p-3">
            
        <!-- EMAIL -->
            <div class="row">
                <div class="form-group w-100">
                    <label for="email" class="bold">Email</label>
                    <input id="email" 
                           name="email" 
                           type="text" 
                           class="form-control {{ isset(@errors['email']) ? 'error-border' : '' }}"
                           value="{{ isset($_SESSION['email']) ? $_SESSION['email'] : '' }}" />
                    <check if="{{ isset(@errors['email']) }}">
                        <div class="error">{{ @errors['email'] }}</div>
                    </check>
                </div>
            </div>
            
        <!-- STATE --> <!-- NO VALIDATION -->
            <div class="row">
                <div class="form-group w-100">
                    <label for="state" class="bold">State</label>
                    <select name="state" id="state" class="custom-select">
                        <option value="test">test</option>
                    </select>
                </div>
            </div>
    
        <!-- GENDER --> <!-- NO VALIDATION -->
            <div class="row">
                <div class="form-group w-100">
                    <label class="bold">Seeking</label><br />
    
                    <div class="form-check form-check-inline mr-4">
                        <input id="male" 
                               name="seeking_gender" 
                               type="radio" 
                               value="male" 
                               class="form-check-input"
                               {{ isset($_SESSION['seeking']) && $_SESSION['seeking'] === 'male' ? 'checked="checked"' : ''}} />
                        <label for="male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="female" 
                               name="seeking_gender" 
                               type="radio" 
                               value="female" 
                               class="form-check-input"
                               {{ isset($_SESSION['seeking']) && $_SESSION['seeking'] === 'female' ? 'checked="checked"' : ''}} />
                        <label for="female" class="form-check-label">Female</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- BIOGRAPHY --> <!-- NO VALIDATION -->
    <div class="col-md-6 mb-5">
        <div class="container-fluid p-3">
            <div class="form-group w-100">
                <label for="biography" class="bold">Biography</label>
                <textarea rows="8" class="form-control dating-soft-border" name="biography" id="biography"></textarea>
            </div>
        </div>
    </div>
</div>