<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ @formTitle }}</title>
    <include href="views/includes/style_links.html" />
</head>

<body class="pb-md-5 px-md-5 pt-md-0">

<!-- NAVBAR -->
    <include href="views/includes/navbar.html" />

<!-- MEMBER TABLE -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">blah</th>
                <th scope="col">blah</th>
                <th scope="col">blah</th>
                <th scope="col">blah</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    
</body>
</html>

