<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ @title }}</title>
    <include href="./views/includes/style_links.html" />
</head>

<body class="pb-md-5 px-md-4 pt-md-0">

<!-- NAVBAR -->
    <include href="./views/includes/navbar.html" />

<!-- MEMBER TABLE -->
    <div class="table-container">

        <include href="./views/includes/pagination.html" />
        
        <span class="px-2 py-2 pb-3 text-muted">Rows:</span>
        <a class="btn btn-info py-1" href="{{ @BASE }}/admin/1/{{ 1 }}/{{ @order }}">1</a>
        <a class="btn btn-info py-1" href="{{ @BASE }}/admin/1/{{ 5 }}/{{ @order }}">5</a>
        <a class="btn btn-info py-1" href="{{ @BASE }}/admin/1/{{ 10 }}/{{ @order }}">10</a>
        <a class="btn btn-info py-1" href="{{ @BASE }}/admin/1/{{ 25 }}/{{ @order }}">25</a>
        <a class="btn btn-info py-1" href="{{ @BASE }}/admin/1/{{ 50 }}/{{ @order }}">50</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/member_id">ID</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/lname">First</a>&nbsp;&nbsp;</th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/fname">Last</a>&nbsp;&nbsp;</th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/age">Age</a></th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/phone">Phone</a></th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/email">Email</a></th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/state">State</a></th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/gender">Gender</a></th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/seeking">Seeking</a></th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/premium">Premium</a></th>
                    <th scope="col"><a href="{{ @BASE }}/admin/{{ @page }}/{{ @per }}/interests">Interests</a></th>
                </tr>
            </thead>
            <tbody>
                <repeat group="{{ @members }}" key="{{ @i }}" value="{{ @member }}">
                    <tr>
                        <td class="text-center" scope="row">
                            {{ @member->displayValue('member_id') }}
                            <a href="{{ @BASE }}/summary/{{ @member->displayValue('member_id') }}">
                                View
                            </a>
                        </td>
                        <td scope="row">{{ @member->displayValue('fname', true) }}</td>
                        <td scope="row">{{ @member->displayValue('lname', true) }}</td>
                        <td scope="row">{{ @member->displayValue('age')     }}</td>
                        <td scope="row">{{ @member->displayValue('phone')   }}</td>
                        <td scope="row">{{ @member->displayValue('email')   }}</td>
                        <td scope="row">{{ @member->displayValue('state')   }}</td>
                        <td scope="row">{{ @member->displayValue('gender')  }}</td>
                        <td scope="row">{{ @member->displayValue('seeking') }}</td>
                        <td scope="row">
                            <div class="custom-control custom-checkbox mr-4">
                                <input  id="premium_{{ @i }}" 
                                        class="custom-control-input" 
                                        type="checkbox"
                                        {{ @member->getValue('premium') == 1 ? 'checked="checked"' : '' }} />
                                <label for="premium_{{ @i }}" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td scope="row">{{ @member->displayValue('interests') }}</td>
                    </tr>
                </repeat>
            </tbody>
        </table>
    </div>
</body>
</html>

