<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ @formTitle }}</title>
    <include href="views/includes/style_links.html" />
</head>

<body class="pb-md-5 px-md-5 pt-md-0">

<!-- NAVBAR -->
    <include href="views/includes/navbar.html" />

<!-- FORM -->
    <form action="./{{ @route }}" method="POST" class="container px-5 pt-5 pb-3 dating-content dating-soft-border">

        <h1>{{ @formTitle }}</h1>
        <hr />

        <include href="{{ @formGuts }}" />

        <include href="views/includes/next_button.html" />

    </form>
    
</body>
</html>