<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@title</title>
    <include href="views/includes/navbar.html" />
</head>

<body class="p-1 p-md-5">
<!-- NAVBAR -->
    <include href="views/includes/navbar.html" />

<!-- FORM -->
    <form action="#" method="POST" class="container p-5 dating-content dating-soft-border">

        <h1>Interests</h1>
        <hr />
        
    <!-- INDOOR INTERESTS -->
        <div class="row form-group">
            
            <label class="col-12 bold">In-door Interests</label>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-check mr-4">
                    <input id="tv" name="indoor_interests[]" type="checkbox" value="tv" class="form-check-input" />
                    <label for="tv" class="form-check-label">tv</label>
                </div>

                <div class="form-check">
                    <input id="puzzles" name="indoor_interests[]" type="checkbox" value="puzzles" class="form-check-input" />
                    <label for="puzzles" class="form-check-label">puzzles</label>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-check mr-4">
                    <input id="movies" name="indoor_interests[]" type="checkbox" value="movies" class="form-check-input" />
                    <label for="movies" class="form-check-label">movies</label>
                </div>

                <div class="form-check">
                    <input id="reading" name="indoor_interests[]" type="checkbox" value="reading" class="form-check-input" />
                    <label for="reading" class="form-check-label">reading</label>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-check mr-4">
                    <input id="cooking" name="indoor_interests[]" type="checkbox" value="cooking" class="form-check-input" />
                    <label for="cooking" class="form-check-label">cooking</label>
                </div>

                <div class="form-check">
                    <input id="playing_cards" name="indoor_interests[]" type="checkbox" value="playing_cards" class="form-check-input" />
                    <label for="playing_cards" class="form-check-label">playing cards</label>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="form-check mr-4">
                    <input id="board_games" name="indoor_interests[]" type="checkbox" value="board_games" class="form-check-input" />
                    <label for="board_games" class="form-check-label">board games</label>
                </div>

                <div class="form-check">
                    <input id="video_games" name="indoor_interests[]" type="checkbox" value="video_games" class="form-check-input" />
                    <label for="video_games" class="form-check-label">video games</label>
                </div>
            </div>

        </div>

    <!-- OUTDOOR INTERESTS -->
        <div class="row form-group">
            
                <label class="col-12 bold">Out-door Interests</label>
    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-check mr-4">
                        <input id="hiking" name="outdoor_interests[]" type="checkbox" value="hiking" class="form-check-input" />
                        <label for="hiking" class="form-check-label">hiking</label>
                    </div>
    
                    <div class="form-check">
                        <input id="walking" name="outdoor_interests[]" type="checkbox" value="walking" class="form-check-input" />
                        <label for="walking" class="form-check-label">walking</label>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-check mr-4">
                        <input id="biking" name="outdoor_interests[]" type="checkbox" value="biking" class="form-check-input" />
                        <label for="biking" class="form-check-label">biking</label>
                    </div>
    
                    <div class="form-check">
                        <input id="climbing" name="outdoor_interests[]" type="checkbox" value="climbing" class="form-check-input" />
                        <label for="climbing" class="form-check-label">climbing</label>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-check mr-4">
                        <input id="swimming" name="outdoor_interests[]" type="checkbox" value="swimming" class="form-check-input" />
                        <label for="swimming" class="form-check-label">swimming</label>
                    </div>
                </div>
    
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-check mr-4">
                        <input id="collecting" name="outdoor_interests[]" type="checkbox" value="collecting" class="form-check-input" />
                        <label for="collecting" class="form-check-label">collecting</label>
                    </div>
                </div>
    
            </div>
        
    <!-- BUTTON -->
        <include href="views/includes/next_button.html" />

    </form>
</body>
</html>