<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@title</title>
    <include href="views/includes/navbar.html" />
</head>

<body class="pb-md-5 px-md-5 pt-md-0">
<!-- NAVBAR -->
    <include href="views/includes/navbar.html" />

<!-- FORM -->
    <form action="#" method="POST" class="container p-5 dating-content dating-soft-border">

        <h1>Personal Information</h1>
        <hr />

        <div class="row">
            <div class="col-md-8">
                <div class="container-fluid p-3">
                    
                <!-- FIRST NAME -->
                    <div class="row">
                        <div class="form-group w-100">
                            <label for="first_name" class="font-weight-bold">First Name</label>
                            <input id="first_name" name="first_name" type="text" class="form-control" />
                        </div>
                    </div>
                
                <!-- LAST NAME -->
                    <div class="row">
                        <div class="form-group w-100">
                            <label for="last_name" class="font-weight-bold">Last Name</label>
                            <input id="last_name" name="last_name" type="text" class="form-control" />
                        </div>
                    </div>
            
                <!-- AGE -->
                    <div class="row">
                        <div class="form-group w-100">
                            <label for="age" class="font-weight-bold">Age</label>
                            <input id="age" name="age" type="text" class="form-control" />
                        </div>
                    </div>
            
                <!-- GENDER -->
                    <div class="row">
                        <div class="form-group w-100">
                            <label class="font-weight-bold">Gender</label><br />
            
                            <div class="form-check form-check-inline mr-4">
                                <input id="male" name="gender" type="radio" value="male" class="form-check-input" />
                                <label for="male" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="female" name="gender" type="radio" value="female" class="form-check-input" />
                                <label for="female" class="form-check-label">Female</label>
                            </div>
                        </div>
                    </div>
            
                <!-- PHONE NUMBER -->
                    <div class="row">
                        <div class="form-group w-100">
                            <label for="phone_number" class="font-weight-bold">Phone Number</label>
                            <input id="phone_number" name="phone_number" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5">
                <div class="dating-side-note dating-soft-border container-fluid p-3">
                    <p>
                        <span class="font-weight-font-weight-bold">Note: </span>
                        All information entered is protected by our
                        <a href="#">privacy policy.</a> Profile information
                        can only be views by others with your permission.
                    </p>
                </div>
            </div>
        </div>

    <!-- BUTTON -->
        <include href="views/includes/next_button.html" />

    </form>
</body>
</html>