<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Summary</title>
    <include href="views/includes/style_links.html" />
</head>

<body class="pb-md-5 px-md-5 pt-md-0">
<!-- NAVBAR -->
    <include href="views/includes/navbar.html" />

<!-- PROFILE STATS -->
    <div class="container px-4 px-md-4 py-3 dating-content dating-soft-border">
        
        <div class="row no-gutters mb-5 flex-wrap-reverse flex-md-wrap">

            <div class="p-0 col-12 col-md-6">
                <ul class="container-fluid p-0 list-group">
                    
                <!-- NAME -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="name" class="m-1 font-weight-bold">Name:</label>
                        <span id="name" class="m-1">
                            {{ exists($_SESSION['first_name']) ? $_SESSION['first_name'] : 'Unspecified' }}
                            {{ exists($_SESSION['last_name']) ? $_SESSION['last_name'] : 'Unspecified' }}
                        </span>
                    </li>

                <!-- GENDER -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="gender" class="m-1 font-weight-bold">Gender:</label>
                        <span id="gender" class="m-1">
                                {{ exists($_SESSION['gender']) ? ucfirst($_SESSION['gender']) : 'Unspecified' }}
                        </span>
                    </li>

                <!-- AGE -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="age" class="m-1 font-weight-bold">Age:</label>
                        <span id="age" class="m-1">
                                {{ exists($_SESSION['age']) ? $_SESSION['age'] : 'Unspecified' }}
                        </span>
                    </li>

                <!-- PHONE -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="phone" class="m-1 font-weight-bold">Phone:</label>
                        <span id="phone" class="m-1">
                                {{ exists($_SESSION['phone_number']) ? $_SESSION['phone_number'] : 'Unspecified' }}
                        </span>
                    </li>

                <!-- EMAIl -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="email" class="m-1 font-weight-bold">Email:</label>
                        <span id="email" class="m-1">
                                {{ exists($_SESSION['email']) ? $_SESSION['email'] : 'Unspecified' }}
                        </span>
                    </li>

                <!-- STATE -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="state" class="m-1 font-weight-bold">State:</label>
                        <span id="state" class="m-1">
                                {{ exists($_SESSION['state']) ? $_SESSION['state'] : 'Unspecified' }}
                        </span>
                    </li>

                <!-- SEEKING -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="seeking" class="m-1 font-weight-bold">Seeking:</label>
                        <span id="seeking" class="m-1">
                                {{ exists($_SESSION['seeking_gender']) ? ucfirst($_SESSION['seeking_gender']) : 'Unspecified' }}
                        </span>
                    </li>

                <!-- INTERESTS -->
                    <li class="list-group-item row no-gutters p-2">
                        <label for="interests" class="m-1 font-weight-bold">Interests:</label>
                        <span id="interests" class="m-1">
                            <repeat group="@indoor_interests" value="@interest">
                                {{ @indoor_options[$interest] }},
                            </repeat>
                            <repeat group="@outdoor_interests" value="@interest">
                                {{ @outdoor_options[$interest] }},
                            </repeat>
                        </span>
                    </li>

                </ul>
            </div>

            <div class="p-3 col-12 col-md-6">
                <img class="mb-3 dating-portait" src="../images/user.svg" alt="Default Profile Picture">
                <h3 class="text-center">Biography</h3>
                <p class="text-center">
                    {{ exists($_SESSION['biography']) ? $_SESSION['biography'] : 'Unspecified' }}
                </p>
            </div>
        </div>
        
    <!-- BUTTON -->
        <div class="row no-gutters justify-content-center">
            <a href="#" class="btn contact-btn">
                Contact Me!
            </a>
        </div>

    </div>
</body>
</html>