body
{
    font-family: Ubuntu, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.bold
{
    font-weight: bold;
}

.next-btn
{
    font-size: 1.1rem;
    color: white;
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #3B79B0;
}

.contact-btn
{
    font-size: 1.1rem;
    color: white;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background-color: #3B79B0;
}

.dating-navbar
{
    background-color: #F8F8F8;
}

.dating-soft-border
{
    border: 1px solid rgba(100, 100, 100, 0.15);
    border-radius: 0.5rem;
}

.dating-content
{
    font-size: 1.2rem;
    overflow-y: auto;
}   

.dating-side-note
{
    background-color: #EFEFEF;  
}